@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[data-theme="dark"] {
  --color-bg: #0b0c0a;
  --color-accent: #e2e3e2;
  --letter-color-accent-at-hover: #e2e3e2;
  --color-accent-hover: rgba(226, 227, 226, 0.2);
}

[data-theme="light"] {
  --color-bg: #e2e3e2;
  --color-accent: #0b0c0a;
  --letter-color-accent-at-hover: #0b0b0b;
  --color-accent-hover: rgba(11, 12, 10, 0.2);
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
  color: var(--color-accent);
}

::-moz-selection {
  color: var(--color-bg);
  background: var(--color-accent);
}

::selection {
  color: var(--color-bg);
  background: var(--color-accent);
}

.form h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.form input {
  width: 100%;
  font-size: 1.5rem;
  padding: 1.2rem;
  border-radius: 0.5rem;
  border: 3px solid var(--color-accent);
  color: var(--color-accent);
  background-color: var(--color-bg);
  transition: all 0.2s ease-in-out;
}

.form input:focus {
  outline: none;
  background-color: var(--color-bg) !important;
}

.form input:hover {
  background-color: var(--color-accent-hover);
}

.form input::placeholder {
  color: var(--color-accent);
}

.form input:focus::placeholder {
  opacity: 0;
}

.form input:hover::placeholder {
  color: var(--letter-color-accent-at-hover);
}

.form p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

#buttons {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem;
}

#buttons button {
  border: none;
  background-color: transparent;
  color: var(--color-accent);
  font-size: 2rem;
  transition: all 0.2s ease-in-out;
  padding: 0.5rem;
}

#buttons button:hover {
  cursor: pointer;
}

a {
  color: var(--color-accent);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-size: 2rem;
}

.redirect-url {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.redirect-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

#countdown {
  margin-left: 0.3rem;
  color: var(--color-accent);
  margin-right: 0.3rem;
}
