<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>URL Shortener</title>
<meta property="og:title" content="URL Shortener" />
<meta name="twitter:title" content="URL Shortener" />
<meta name="description" content="Just another URL shortener" />
<meta property="og:description" content="Just another URL shortener" />
<meta name="twitter:description" content="Just another URL shortener" />
<meta property="og:image" content="/img/og-image.png" />
<meta name="twitter:image" content="/img/og-image.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" />
<link rel="stylesheet" href="/css/style.css" />
<script src="/js/theme.js" defer></script>
<script
  src="https://kit.fontawesome.com/9c50d587c8.js"
  crossorigin="anonymous"
></script>
